<div id="<%= dom_id post %>">
  <p>
    <strong>Titulo:</strong>
    <%= post.titulo %>
  </p>

  <p>
    <strong>Cuerpo:</strong>
    <%= post.cuerpo %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.User_id %>
  </p>

</div>
